/*
 * mainmenu classes
 */
div.mainmenu_container
{
	left:0;
	top:0;
	height:35px;
	width:75%;
	background:black;
}
div.logo
{
	left:0;
	top:0;
	height:35px;
	width:35px;
}
img.logo
{
	height:100%;
	width:100%;
}

div.mainmenu
{
	left:40px;
	height:100%;
	right:0px;
}
div.mainmenu_tab
{
	position:relative;
	height:30px;
	top:5px;
	float:left;
	left:5px;
	margin-left:5px;
	margin-right:5px;
	cursor:pointer;
	vertical-align:center;
	border-style:none;
	padding-left:15px;
	padding-right:15px;
}

img.mainmenu_tableft
{
	position:absolute;
	width:5px;
	height:100%;
	left:0px;
	top:0px;
	margin-left:-5px;
	padding:0px;
}

img.mainmenu_tabmiddle
{
	position:absolute;
	width:100%;
	height:100%;
	margin-left:0px;
	margin-right:0px;
	top:0px;
	left:0px;
}

img.mainmenu_tabright
{
	position:absolute;
	width:5px;
	height:100%;
	right:0px;
	top:0px;
	margin-right:-5px;
	padding:0px;
}

.mainmenu_tabtext
{
	font-size:1.1em;
	font-family:arial;
	color:white;
}

.mainmenu_tabtextposition
{
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	height:100%;
	vertical-align:middle;
}

.mainmenu_tabtextposition p
{
	margin:0;
	padding:0;
	text-align:center;
	vertical-align:middle;
}
/*
 * Login classes
 */
div.login_container
{
	height:50px;
	width:25%;
	right:0;
	top:0;
	background:gray;
}
text.login_user_id
{
	position:absolute;
	background:black;
	border-style:solid;
	border-color:white;
	border-width:2px;
	font-size:18px;
	font-family:arial, sans-serif;
	text-align:center;
	color:white;
	left:0px;
	right:2px;
	top:0px;
	bottom:50%;
}
button.login_button
{
	position:absolute;
	width:100%;
	height:50%;
	bottom:0px;
	left:0;
	font-size:12px;
	font-family:arial;
}

/*
 * Library classes
 */
div.library
{ 
	top:50px;
	left:75%;
	width:25%;
	bottom:0px;
	background:white;
	border-style:solid;
	border-width:1px;
	border-color:black;
}
div.library_infopane
{
	left:0;
	right:30px;
	top:0;
	height:100%;
	background:white;
}
div.library_menustrip
{
	right:0;
	width:30px;
	height:100%;
	top:0;
	background:gray;
}
div.library_icon_container
{
	width:30px;
	height:30px;
	border-style:none;
}
img.library_icon
{
	width:100%;
	height:100%;
}
.library_heading1
{
	font-size:1.2em;
	font-family:Arial;
	font-weight:bold;
}
.library_heading2
{
	font-size:1.1em;
	font-family:Arial;
	font-weight:normal;
}
.library_bodytext
{
	font-size:1.0em;
	font-family:Arial;
	font-weight:normal;
}


/*
 * view classes
 */
div.viewport
{
	position:absolute;
	width:75%;
	bottom:60px;
	left:0%;
	top:35px;
	overflow:hidden;
	background:black;
}

div.workspace
{
	position:absolute;
	width:2000px;
	height:2000px;
	top:0;
	left:0;
}

.svg_display
{
	fill:gray;
	stroke-width:5px;
	stroke:white;
	opacity:0.5;
	width:100%;
	height:100%;
}

div.backdrop
{
	width:100%;
	height:100%;
}
img.backdrop_image
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
div.foredrop
{
	width:100%;
	height:100%;
}
div.navigator
{
	bottom:0;
	left:0;
	width:75%;
	height:60px;
	background:gray;
}